@font-face {
    font-family: futura-pt;
    src: url(../fonts/futura-pt/FuturaCyrillicLight.ttf);
}

/* Tas bort om inte används - Jasper */
@font-face {
    font-family: futura-pt;
    src: url(../fonts/futura-pt/FuturaCyrillicBold.ttf);
    font-weight: bold;
}

:root {
    --main-bg-color: #314058;
    --primary-text-color: #C28B3C;
    --navbar-height: 6rem;
    --info-product-count: 6;

    background-color: var(--main-bg-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: futura-pt, 'Times New Roman', Times, serif;
}

/*  
############
NAV
############ 
*/

nav {
    display: flex;
    background-color: #0f1724;
    font-size: 25px;
    color: white;
    gap: 50px;
    width: 100%;
    height: var(--navbar-height);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
}

nav ul {
    display: flex;
    gap: 50px;
    margin-left: 10px;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
}

nav a {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav li:hover {
    color: #ffb681;
    transition: color 0.1s ease;
}

nav img {
    height: 50px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 25px;
    padding-right: 10px;
}

nav div span:hover {
    color: #ffb681;
    background-color: #263041;
    transition: all 0.2s ease;
}

nav div span {
    cursor: pointer;
    background-color: var(--main-bg-color);
    padding: 5px 20px;
    border-radius: 10px;
}

.search input {
    padding: 10px 10px;
    border-radius: 10px;
    width: 250px;
    border: none;
    font: 16px futura-pt;
}

.search::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url("../img/search_button.jpg");
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    cursor: pointer;
}

/*  
############
HERO
############ 
*/

.hero {
    display: flex;
    background: no-repeat center/cover url("../img/placeholder.png");
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    margin-top: var(--navbar-height);
}

.hero::after {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    background-color: var(--main-bg-color);
    z-index: 0;
}

.hero img {
    width: 300px;
    height: 500px;
    align-self: flex-end;
    z-index: 1;
}

/*  
############
PRODUCT INFO
############ 
*/

.info {
    display: grid;
    padding-top: var(--navbar-height);
    padding: 6rem 3rem;
    height: calc(100vh - var(--navbar-height) - 2 * 3rem);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8fr 2fr;
    row-gap: 6rem;
    background-color: var(--main-bg-color);
}

.info div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info div h1 {
    width: 80%;
    color: var(--primary-text-color);
    font-size: 5rem;
    font-weight: 600px;
}

#product-info_alignment {
    width: 100%;
}

.info div h2 {
    color: #F4B860;
    font-size: 2.5rem;
    font-weight: bold;
}

.info div p {
    width: 80%;
    font-size: 1.25rem;
    color: #F1F3F5;
}

#card-1_display_img {
    background: no-repeat url("../img/placeholder.png") center / cover;
    height: 100%;
    width: 100%;
}

/* side-scroll info */

#side-scroll_product_info {
    grid-column: span 2;
}

#side-scroll_product_info ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#side-scroll_product_info li {
    width: calc(100% / (var(--info-product-count) + 1));
    height: 19vh;
    border-radius: 1rem;
    padding: 6px;
    border: none;
    transition: border 300ms ease;
    border: solid 1px transparent;
}

#side-scroll_product_info div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
}

#side-scroll_product_info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#side-scroll_product_info img {
    width: 100%;
    height: 100%;
    transition: transform 500ms ease;
}

#side-scroll_product_info img:hover {
    transform: scale(1.2);
}

#side-scroll_product_info li:hover {
    border: solid 1px #8cc5ff;
}


/*  
############
WALL OF IMGS
############ 
*/

#wall-of-imgs {
    padding: 0 1vw;
    margin-bottom:calc(var(--navbar-height));
}

#wall-of-imgs ul {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
}

#wall-of-imgs li {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#wall-of-imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all 500ms ease-out;
}

#wall-of-imgs img:hover {
    scale: 1.25;
}

ul> :nth-child(2) {
    grid-area: span 2 / span 1;
}

ul> :nth-child(4) {
    grid-area: span 2 / span 1;
}

/*  
############
FOOTER
############ 
*/

footer{
    height: 60vh;
    background-color: #122131;
}