@font-face {
    font-family: futura-pt;
    src: url(../fonts/futura-pt/FuturaCyrillicLight.ttf);
}

/* Tas bort om inte används - Jasper */
@font-face {
    font-family: futura-pt;
    src: url(../fonts/futura-pt/FuturaCyrillicBold.ttf);
    font-weight: bold;
}

:root {
    --main-bg-color: #314058;
    --primary-text-color: #C28B3C;
    --navbar-height: 6rem;
    --info-product-count: 7;

    background-color: var(--main-bg-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: futura-pt, 'Times New Roman', Times, serif;
}

/*  
############
NAV
############ 
*/

nav {
    display: flex;
    background-color: #0f1724;
    font-size: 25px;
    color: white;
    gap: 50px;
    width: 100%;
    height: var(--navbar-height);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
}

nav ul {
    display: flex;
    gap: 50px;
    margin-left: 10px;
    max-width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: flex;
    align-items: center;
}

nav img {
    width: auto;
    height: 96px;

}

nav li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav li:hover {
    color: #ffb681;
    transition: color 0.1s ease;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 25px;
    padding-right: 10px;
}

nav div span:hover {
    color: #ffb681;
    background-color: #263041;
    transition: all 0.2s ease;
}

nav div span {
    cursor: pointer;
    background-color: var(--main-bg-color);
    padding: 5px 20px;
    border-radius: 10px;
}

.search input {
    padding: 10px 10px;
    border-radius: 10px;
    width: 250px;
    border: none;
    font: 16px futura-pt;
}

.search::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url("../img/search_button.jpg");
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    cursor: pointer;
}

/*  
############
HERO
############ 
*/

.hero {
    display: flex;
    background: no-repeat center/cover url("../img/placeholder.png");
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    margin-top: var(--navbar-height);
}

.hero::after {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    background-color: var(--main-bg-color);
    z-index: 0;
}

.hero img {
    width: 300px;
    height: 500px;
    align-self: flex-end;
    z-index: 1;
}

/*  
############
PRODUCT INFO
############ 
*/

.info {
    display: flex;
    flex-direction: column;
    padding-top: var(--navbar-height);
    padding: 10vh 3rem;
    min-height: calc(100vh - var(--navbar-height) - 12vh);
    background-color: var(--main-bg-color);
    justify-content: space-between;
    row-gap: 5vh;
}

.info div {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}

#main-info {
    height: 100%;
    flex-grow: 3;
}

#product-info_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
}

#product-info_text div {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: fit-content;
}

.info h1 {
    color: var(--primary-text-color);
    font-size: 4rem;
    font-weight: 600px;
}

.info h2 {
    color: #F4B860;
    font-size: 2.5rem;
    font-weight: bold;
    justify-self: flex-end;
}

.info p {
    width: 100%;
    font-size: 1.25rem;
    color: #F1F3F5;
}

#card-1_display_img {
    transition: all 1s ease-in-out;
    background: no-repeat url("../img/placeholder1.png") center / cover;
    flex-grow: 1;
    border: #263041 5px solid;
}

/* carousel info */

#carousel {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100%;
    flex-grow: 2;
}

#carousel-outer {
    width: 90vw;
    overflow: hidden;
}

#view-track {
    position: relative;
    width: 90vw;
    height: 200px;
    overflow: visible;
}

#view-track div {
    height: 100%;
}

#track div {
    width: 17vw;
}

#track div img {
    object-fit: cover;
    width: 100%;
}

/*  
############
WALL OF IMGS
############ 
*/

#wall-of-imgs {
    padding: 0 1vw;
    margin-bottom: calc(var(--navbar-height));
}

#wall-of-imgs ul {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
}

#wall-of-imgs li {
    width: 100%;
    overflow: hidden;
}

#wall-of-imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all 500ms ease-out;
}

#wall-of-imgs img:hover {
    scale: 1.25;
}

ul> :nth-child(2) {
    grid-area: span 2 / span 1;
}

ul> :nth-child(4) {
    grid-area: span 2 / span 1;
}

/*  
############
FOOTER
############ 
*/

footer {
    background-color: #122131;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: white;
}

footer h3 {
    color: #C28B3C;
    font-size: 1.5rem;
    font-weight: bold;
}

footer li {
    color: #F1F3F5;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    list-style: none;
}

/* 
    footer-top 
*/
#footer-top {
    display: flex;
    justify-content: row;
    background-color: #122131;
    width: 100%;
    flex-wrap: wrap;
}

/* footer-top-left */

#footer-top-left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8vh 0 8vh 8vw;
    width: 50vw;
    grid-row-gap: 60px;
}

#footer-top-left div {
    display: flex;
    flex-direction: column;
    width: calc(50vw/3);
    gap: 40px;
}

/* footer-top-right */

#footer-top-right {
    display: flex;
    margin-top: 8vh;
    flex-direction: column;
    gap: 5vh;
    width: 40vw;
}

#footer-top-right p {
    color: #F1F3F5;
    font-size: 1.25rem;
    width: 80%;
}

#footer-top-right img {
    width: 250px;
    height: auto;
}

#socials {
    display: flex;
    gap: 20px;
}

#socials img {
    width: 40px;
    height: 40px;
}

/* 
    footer-bottom 
*/

#footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    height: 10vh;
    background-color: #0f1724;
}

#footer-bottom p {
    color: #F1F3F5;
    font-size: 1rem;
}

/* footer-bottom-right */

#footer-bottom-right {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

#lang {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 200px;
    height: 100%;
}

#lang select {
    height: 40px;
    width: 200px;
    background-color: #122131;
    color: white;
    border: transparent;
    border-radius: 5px;
    font-size: 1rem;
}

#lang img {
    width: 40px;
    height: 40px;
}

#footer-bottom ul {
    display: flex;
    gap: 40px;
}

#footer-bottom li {
    margin: 0;
}